body{
  min-width: fit-content;
}

.main-content .heading h1 {
  margin: 15px;
  color: #607070;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.form-container {
  background-color: #fff;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Add this CSS to your existing CSS file or in a separate style.css file */

.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  flex: 1;
  text-align: right;
  padding-right: 10px;
}

.input {
  flex: 2;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"],
input[type="button"] {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #695cfe;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

/* Style the form as per your requirements */

.card-container {
  display: flex;
  background-color: #e0ffff;
  flex-wrap: wrap;
  height: calc(100% - 150px);
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.card-container .card {
  display: flex;
  align-items: center;
  width: 250px;
  height: 120px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
  margin: 10px;
  overflow: hidden;
}

.card-container .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-container .image {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
}

.card-container .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container .data {
  flex-grow: 1;
  padding: 10px;
}

.id,
.name,
.conumber,
.department {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.nav-links .nav-link a[href*="../LateEntry/LateEntry.php"] {
  border: white 2px solid;
  border-radius: 5px;
}

.table {
  margin: 0 auto; /* Center the table */
  border-collapse: collapse; /* Collapse border spacing */
}

table {
  width: 100%; /* Make the table take full width */
  margin: 10px 0; /* Margin around the table */
}

th,
td {
  padding: 5px 10px; /* Padding for cells */
  border: 1px solid #ddd; /* Border style */
  text-align: left; /* Align text to the left */
}

th {
  background-color: #343f71;
  color: #fff;
}
.table td, .table th {
    padding: 0.3rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
tr:nth-child(even) {
  background-color: #f7f7f7;
}
tr:nth-child(odd) {
  background-color:#4858a03d;
}

.image-column {
  width: 102px;
  height: 102px;
}
.table-image {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  padding: 2px;
}

.access-denied {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
