body {
  font-family: Arial, sans-serif;
  background-color: #010108;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("gate_desk.png");
  filter: blur(2px);
  background-size: cover;
  background-position: center;
  z-index: -1;
}
h2 {
  margin-top: 0;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#login-link{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  margin-bottom: 10px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #0c356ab4;
  color: #f5f5f5;
  height: fit-content;
  width: 100%;
  z-index: 100;
  padding: 0 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

footer p {
  font-size: 0.6rem;
  margin-top: 3px;
  margin-bottom: 0px;
  padding: 3px;
}

ul {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

li {
  font-size: 0.8rem;
  display: inline-block; /* Display list items in the same row */
  margin-right: 15px; /* Adjust spacing between items */
}

a {
  text-decoration: none; /* Remove default underline */
  color: white; /* Set text color to white */
}

a:hover {
  color: #14af8d;
}

i {
  margin-right: 5px; /* Adjust spacing between icon and text */
}

@media (max-width: 768px) {
  .card {
    width: 70%;
    min-height: 350px;
    position: absolute;
    top: 10%;
  }
  .card::before {
    background-image: url("./gate_mobile.png");
  }
}
