body {
  min-width: fit-content;
}

.dashboard-container {
  height: min-content;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.main-content .heading h1 {
  margin: 15px;
  color: #607070;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.nav-links .nav-link a[href*="../Analytics/analytics.php"] {
  border: white 2px solid;
  border-radius: 5px;
}

.table {
  margin: 0 auto; /* Center the table */
  border-collapse: collapse; /* Collapse border spacing */
}

table {
  width: 100%; /* Make the table take full width */
  margin: 10px 0; /* Margin around the table */
}

th,
td {
  padding: 5px 10px; /* Padding for cells */
  border: 1px solid #ddd; /* Border style */
  text-align: left; /* Align text to the left */
}

th {
  background-color: #343f71;
  color: #fff;
}
.table td,
.table th {
  padding: 0.3rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
tr:nth-child(even) {
  background-color: #f7f7f7;
}
tr:nth-child(odd) {
  background-color: #4858a03d;
}

.table-image {
  width: 100px;
  height: 100px;
  padding: 2px;
  margin: 2px;
}

.tab-content {
  width: 100%;
}

.tab {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  /* height: 400px; */
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin-block: 10px;
}
.heading {
  width: 100%;
  background-color: #ecf3f3;
}

.menu-links .nav-link a[href*="../Analytics/analytics.php"] {
  border: white 2px solid;
  border-radius: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
  background-color: #ecf3f3;
  padding: 5px;
  margin-block: 5px;
}

.form-container {
  margin-block: 20px;
}
.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.form-heading {
  font-size: 24px;
  margin-bottom: 10px;
  color: darkblue;
}
.form .table-image {
  width: 100px;
  height: 100px;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  flex: 2;
  text-align: right;
  padding-right: 10px;
  color: darkblue;
  margin-bottom: 0;
}
.form-row p {
  flex: 3;
  text-align: left;
  padding-right: 10px;
  color: darkblue;
  margin-bottom: 0;
}

input,
textarea,
select {
  flex: 1;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Styling for the "See More" link */
.see-more {
  color: #007bff; /* Blue color for the link */
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-top: 10px;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Hover effect for the link */
.see-more:hover {
  color: #0056b3; /* Darker blue on hover */
}

.access-denied {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
