/* Add this CSS to your existing CSS file or in a separate style.css file */

.form-container{
    margin-block: 20px;

}
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form-heading {
    font-size: 24px;
    margin-bottom: 20px;
    color: darkblue;
}

.form-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    flex: 1;
    text-align: right;
    padding-right: 10px;
    color:darkblue ;
}

input, textarea, select {
    flex: 2;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #343f71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover{
    background-color: darkblue;
    color: #f7f7f7;
}
/* Style the form as per your requirements */


.nav-links .nav-link a[href*="../Visitor/Visitor.php"] {
  border: white 2px solid;
  border-radius: 5px;
}