

.form-container {
  margin: 15px;
  padding-top: 20px;
  color: #607070;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background-color: #fff;
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Add this CSS to your existing CSS file or in a separate style.css file */

.form {
  margin-top: 50px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


input[type="submit"]{
  width: 150px;
  height: 75px;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #695cfe;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
}

/* Style the form as per your requirements */


.menu-links .nav-link a[href*="../mail/mail.php"] {
  border: white 2px solid;
  border-radius: 5px;
}

.access-denied{
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}